Guide for Web Developers

This is a simple guide for web developers who wish to contribute to Hyvor Relay.

### Basics (Day 1)

- [ ] See a couple of raw email messages

Open your favorite mail inbox, and click "See Original" / "Raw Version" button near each email. Try to understand what's going on. You should see headers like FROM, TO, which are set from the sending party. Other additional headers like SPF-*, DKIM-* headers added by your provider to provide more information, and the message body. What's the encoding? Is it a HTML mail or a plain text one? Or both? 

- [ ] Build a SMTP server

I recommend this guide: [SMTP protocol basics from scratch in Go: receiving email from Gmail](https://notes.eatonphil.com/handling-email-from-gmail-smtp-protocol-basics.html). You will get a sense of the following:

- a server listening on a port over TCP
- MIME format (email message headers and body)
- Chatty nature of SMTP, compared to HTTP

*This guide focused on sending an email from Gmail to your server, for which you need a public domain and a server. Also, in most cases, Gmail does not send emails to residential IPs. If this causes problems for you, simply move to the next step*

- [ ] Send via Swaks

[Swaks](https://jetmore.org/john/code/swaks/) is one of the most popular tools for sending emails. You will frequently need to use this whenever you need to test something in Hyvor Relay. So, get yourself familiar with it!

- Send a plain text email
- Send an HTML email
- Try different from / to values
- Set custom headers

Make sure to view the headers and the body of each email messages.

- [ ] Send an email to your SMTP server

Write a script in your favorite programming language to send an email to your SMTP server, but build the email message by yourself.

```
email = "headers + body"

connectToServerOverTcp()

// send the SMTP message manually
sayHelo()
mailFrom()
rcptTo()
body()
sendBody()
```

Make sure to send a plain text email, HTML email, and one with both, also another with an attachment. Learn how to use multipart content types.

Taking it one step further, use `telnet` to connect  your SMTP server, and send a message.

```bash
telnet localhost 25

EHLO myname
MAIL FROM:....
```

Also, try sending an email to a public domain (maybe your work domain), and see if you can do it. In most cases, spam filters will filter them.

### Theory (Day 2 & 3)

Read the following documents:

- [ ] [RFC 5321](https://datatracker.ietf.org/doc/html/rfc5321) - SMTP
- [ ] MIME
    - [ ] [MIME Types, MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/MIME_types)
    - [ ] [RFC 2045](https://datatracker.ietf.org/doc/html/rfc2045)
    - [ ] [RFC 2046](https://datatracker.ietf.org/doc/html/rfc2046)
- [ ] [RFC 7208](https://datatracker.ietf.org/doc/html/rfc7208) - SPF
- [ ] [RFC 6376](https://datatracker.ietf.org/doc/html/rfc6376) -  DKIM
- [ ] [RFC 7489](https://datatracker.ietf.org/doc/html/rfc7489) - DMARC
- [ ] [RFC 3207](https://datatracker.ietf.org/doc/html/rfc3207) - STARTTLS

### Real-world Stuff (Day 4)

- [ ] [Read Our Deliverability Guide](https://relay.hyvor.com/hosting/deliverability)
- [ ] [Deploy Hyvor Relay on to a server](https://relay.hyvor.com/hosting/deploy-easy), complete the set up, and send an email

